*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
}

.mainContainer{
    border: solid black;
    height: 1000px;
    width: 1000px;
    background-image: url("https://play-lh.googleusercontent.com/HDvcBYx8o2RqTeviL40N_HyP-ccg68LH9Sa1MN_sEkxI8cOKwRYWS3XrEda38PolbT0");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin: 0px 200px 0px 350px;
   
    
}
.screen{
   
    
    height: 470px;
    width: 890px;
    margin: 90px 0px 80px 50px;

   
}
.welcome{
    border: solid rgb(32, 245, 3);
    height: 60px;
    background-color: rgb(6, 93, 93);
    text-align: center;
    font-family: 'Franklin Gothic Medium' ;
    font-size: 35px;
    padding: 20px 0px 20px 0px;
    color: ghostwhite;
}
.rowContainer{
    width: 100%;
    
   
}
.row1{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(3, 51, 32);
    height: 92px;
    
    
}
.row2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(4, 68, 43);
    height: 92px;
}
.row3{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(6, 99, 62);
    height: 92px;
}
.row4{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(7, 118, 73);
    height: 92px;
}
.transaction{
    background-color: rgb(4, 217, 4);
    border-radius: 45px;
    color: rgb(11, 11, 189);
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    border: solid lime;
    height: 60px;
    width: 190px;
    margin: 15px 0px 0px 0px;
    background-color: rgb(4, 217, 4);

}
.transaction1{
    background-color: rgb(4, 217, 4);
    border-radius: 45px;
    color: rgb(11, 11, 189);
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    border: solid lime;
    height: 60px;
    width: 190px;
    margin: 15px 500px 0px 0px;
    
}